* {
	box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
   float: left;
   padding: 15px;
   /*border: 1px solid red;*/
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

body{
	margin:0;
}

/* TODO */
header{
    position: fixed;
    height: 95px;
    background-color: #FCFBE3;
    color: black;
    padding-left: 100px;
    font-size:290%;
    padding: 15px;
    background: #FCFBE3 url(/images/logoDS.png) 10px no-repeat;
    border-bottom: 1px solid black;
    background-size: 25% 80%;
    -webkit-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.75);
  }

#content{
	height:100%;
  padding-top: 95px;
  background-color:#FCFBE3
}

footer{
  background-color: #6E6E6E;
  height: 95px;
  color: white;
}

